* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-slider {
    height: 800px;
}

.rel {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
}


.hero-slider .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-slider .swiper-slide.s01 {
    background-image: url(./img/5-1.jpg);
}

.hero-slider .swiper-slide.s02 {
    background-image: url(./img/5-2.jpg);
}

.hero-slider .swiper-slide.s03 {
    background-image: url(./img/5-3.jpg);
}

.t-wrap {
    background-color: rgba(0, 0, 0, 0.439);
    max-width: 300px;
    padding: 20px;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: all .3s .5s;
    transform: translateY(50px);
}

.hero-slider .swiper-slide.s01 .rel {
    justify-content: flex-start;
}

.hero-slider .swiper-slide.s02 .rel {
    justify-content: center;
}

.hero-slider .swiper-slide.s03 .rel {
    justify-content: flex-end;
}

.hero-slider .swiper-slide.swiper-slide-active .t-wrap {
    opacity: 1;
    transform: translateY(0);
}

.hero-slider .swiper-button-next:after,
.hero-slider .swiper-button-prev:after {
    display: none;
}

.hero-slider .swiper-button-next,
.hero-slider .swiper-button-prev {
    /* background-color: aqua; */
    width: 60px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-slider .swiper-button-next {
    background-image: url(./img/right.png);
}

.hero-slider .swiper-button-prev {
    background-image: url(./img/left.png);
}

.hero-slider .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 0;
    opacity: .8;
    cursor: pointer;
}

.hero-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: yellow;
    width: 50px;
}